<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}The News Log{% endblock %}</title>
</head>
<body>
<header>
    <h1>The News Log</h1>
</header>
<main>
    {% block content %}{% endblock %}
</main>
</body>
</html>
